@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="accountType" name="钱包类型" underline="true"/>
                    <#input id="name" name="钱包名称" underline="true"/>
                    <#input id="encryptPrivateKey" name="请输入私钥"/>
                    <#input id="password" name="请输入密码" underline="true"/>

                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WalletInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WalletInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/walletMgr/wallet/wallet_info.js"></script>
@}
