@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="自增id" value="${item.id}" underline="true"/>
                            <#input id="tradeNo" name="交易流水" value="${item.tradeNo}" underline="true"/>
                            <#input id="customerNo" name="客户号" value="${item.customerNo}" underline="true"/>
                            <#input id="investNo" name="投资编号" value="${item.investNo}" underline="true"/>
                            <#input id="planNo" name="收益计划编号" value="${item.planNo}" underline="true"/>
                            <#input id="periods" name="期数" value="${item.periods}" underline="true"/>
                            <#input id="ccy" name="币种" value="${item.ccy}" />
                </div>

                <div class="col-sm-6">
                            <#input id="amount" name="金额" value="${item.amount}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="operatorNo" name="操作员" value="${item.operatorNo}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="modifiedTime" name="修改时间" value="${item.modifiedTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BonusOrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BonusOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bonusMgr/bonusOrder/bonusOrder_info.js"></script>
@}
